.about-site-dialog {
  > .dialog-container {
    width: 512px;
    border-radius: 8px;

    > .dialog-content-container {
      line-height: 1.8;

      > ul {
        margin: 4px 0;
        padding-left: 4px;
      }

      > hr {
        margin: 4px 0;
        width: 100%;
        height: 1px;
        background-color: lightgray;
        border: none;
      }
    }
  }
}
