@import "./mixin.less";

.daily-memo-wrapper {
  .flex(row, flex-start, flex-start);
  position: relative;
  width: calc(100% - 24px);
  margin-left: 24px;
  padding: 0;
  padding-bottom: 24px;
  border: none;
  border-left: 2px solid @bg-whitegray;

  &:last-child {
    border-left: none;
    padding-bottom: 0;
  }

  > .time-wrapper {
    .flex(column, center, center);
    position: relative;
    left: -24px;
    flex-shrink: 0;
    width: 48px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
    background-color: @bg-whitegray;
    color: @text-gray;

    > .normal-text {
      font-size: 12px;
      text-align: center;
    }
  }

  > .memo-content-container {
    .flex(column, flex-start, flex-start);
    width: 100%;
    margin-left: -12px;
    padding: 0;
    font-size: 16px;

    > .memo-content-text {
      .tag-span {
        cursor: unset;

        &:hover {
          color: @text-blue;
          background-color: @bg-light-blue;
        }
      }
    }

    > .images-container {
      .flex(column, flex-start, flex-start);
      width: 100%;

      > img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 875px) {
  .memo-wrapper {
    > .memo-top-wrapper {
      > .btns-container {
        .text-btn {
          font-size: 14px;

          &.more-action-btn {
            font-size: 13px;
          }
        }
      }
    }
  }
}
