@import "./mixin.less";

.daily-memo-diary-dialog {
  background-color: white;
  min-height: 100%;

  > .dialog-container {
    width: 440px;
    max-width: 100%;
    border-radius: 10px;
    padding: 0;

    > .dialog-header-container {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 24px 24px;
      margin-bottom: 0;
      padding-bottom: 0;

      > .btns-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > .btns-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          > .btn-text {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            border-radius: 4px;
            cursor: pointer;
            user-select: none;

            &:last-child {
              margin-right: 0;
            }

            > .icon-img {
              width: 100%;
              height: auto;
            }

            &:hover {
              background-color: lightgray;
            }
          }
        }
      }
    }

    > .dialog-content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 24px 24px;
      margin-top: -46px;

      > .date-card-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
        z-index: 1;
        user-select: none;

        > .year-text {
          font-weight: bold;
          color: gray;
          text-align: center;
          line-height: 24px;
          margin-bottom: 24px;
        }

        > .date-container {
          width: 96px;
          height: 96px;
          border-radius: 32px;
          box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
          border: 1px solid rgb(0 0 0 / 10%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          z-index: 1;

          > .month-text,
          > .day-text {
            width: 100%;
            height: 24px;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          > .month-text {
            background-color: @bg-blue;
            color: white;
            border-top-left-radius: 32px;
            border-top-right-radius: 32px;
          }

          > .date-text {
            width: 100%;
            padding-top: 4px;
            height: 48px;
            font-size: 44px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          > .day-text {
            font-size: 12px;
          }
        }
      }

      > .date-picker {
        margin: 0 auto;
        border: 1px solid lightgray;
        border-radius: 16px;
        margin-bottom: 24px;

        &.hide {
          display: none;
        }
      }

      > .tip-container {
        width: 100%;
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > .tip-text {
          font-style: italic;
        }
      }

      > .dailymemos-wrapper {
        margin-top: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
}

body.dark {
  .dialog-wrapper.daily-memo-diary-dialog {
    > .dialog-container {
      background-color: @dark-bg-black;

      > .dialog-content-container {
        > .date-wrapper {
          > .year-text {
            color: gray;
          }

          > .daily-date-container {
            background-color: @dark-bg-black;

            > .month-text {
              background-color: @bg-blue;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .dialog-wrapper.daily-memo-diary-dialog {
    padding: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    > .dialog-container {
      border-radius: 0;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding-bottom: 16px;

      > .dialog-header-container {
        padding-top: 32px;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
