@import "./mixin.less";

.editor-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 16px;
  border: 1px solid lightgray;

  > .editor-inputer {
    width: 100%;
    height: 80px;
    padding: 8px;
    font-size: 13px;
    line-height: 20px;
    resize: none;
    outline: none;
    overflow-y: auto;
    border: none;
    border-bottom: 1px solid lightgray;

    .pretty-scroll-bar();
  }

  > .editor-placeholder {
    position: absolute;
    user-select: none;
    color: gray;
    top: 24px;
    left: 26px;
    font-size: 12px;
  }

  > .tools-wrapper {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > .save-btn {
      cursor: pointer;
      padding: 4px 10px;
    }
  }
}
