.editor-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 16px;
  margin-bottom: 24px;

  > .editor-inputer {
    width: 100%;
    height: 80px;
    padding: 8px;
    resize: none;
    border: 1px solid lightgray;
    outline: none;
    overflow-y: auto;

    &:focus {
      border: 1px solid black;
    }
  }

  > .tools-wrapper {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > .save-btn {
      cursor: pointer;
      padding: 4px 10px;
    }
  }
}
