@import "./mixin.less";

.common-editor-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;

  > .common-editor-inputer {
    display: inline-block;
    width: 100%;
    min-height: 24px;
    max-height: 300px;
    line-height: 1.7;
    resize: none;
    outline: none;
    overflow-y: auto;
    border: none;
    font-family: "PingFang SC", Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;

    .pretty-scroll-bar();
  }

  > .common-editor-placeholder {
    position: absolute;
    user-select: none;
    color: gray;
    line-height: 24px;
    padding-left: 2px;
  }

  > .common-tools-wrapper {
    padding-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > .common-tools-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    > .confirm-btn {
      user-select: none;
      cursor: pointer;
      padding: 4px 10px;
      border: 1px solid lightgray;
      border-radius: 4px;

      &.disabled {
        cursor: not-allowed;
        color: gray;
        background-color: #fafafa;

        &:hover {
          border-color: lightgray;
        }
      }

      &:hover {
        border-color: black;
      }
    }
  }
}
