@import "./mixin.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: @text-black;
  // 取消移动端点击后的高亮
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC",
    "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
}

body.dark {
  * {
    color: @dark-text-white;
  }

  blockquote {
    margin: 8px 0;
    padding: 4px 10px;
    padding-right: 6px;
    width: 100%;
    background-color: @dark-bg-light-black;
    border-left: 4px solid rgba(255, 255, 255, 0.6);
  }

  a {
    color: @text-blue;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: pink;
  padding: 0 4px;
  border-radius: 4px;
}

blockquote {
  margin: 8px 0;
  padding: 4px 10px;
  padding-right: 6px;
  width: 100%;
  background-color: @bg-whitegray;
  border-left: 4px solid @text-black;
}

label,
input,
button,
img {
  background-color: transparent;
  user-select: none;
  // 取消移动端点击后的高亮
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style-type: none;

  &::before {
    content: "•";
    font-weight: bold;
    margin-right: 4px;
  }
}

a {
  cursor: pointer;
  color: @text-blue;
  text-underline-offset: 2px;

  &:hover {
    background-color: lightblue;
  }
}

.text-btn {
  border: unset;
  background-color: unset;
  text-align: unset;
  font-size: unset;
  user-select: none;
}

.hidden {
  display: none !important;
}

.icon-img {
  pointer-events: none;
  user-select: none;
}

@media only screen and (max-width: 650px) {
  body,
  html {
    font-size: 16px;
  }
}
