@import "./mixin.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: @text-black;
  -webkit-tap-highlight-color: transparent;
  font-family: "Open Sans", "Noto Sans SC", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
}

code {
  font-family: "Roboto Mono", monospace;
  background-color: pink;
  padding: 2px 4px;
  border-radius: 4px;
}

pre {
  font-family: "Roboto Mono", monospace;

  * {
    font-family: "Roboto Mono", monospace;
  }
}

label,
input,
button,
img {
  background-color: transparent;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

li {
  list-style-type: none;

  &::before {
    content: "•";
    font-weight: bold;
    margin-right: 4px;
  }
}

a {
  cursor: pointer;
  color: @text-blue;
  text-underline-offset: 2px;

  &:hover {
    background-color: lightblue;
  }
}

.text-btn {
  border: unset;
  background-color: unset;
  text-align: unset;
  font-size: unset;
  user-select: none;
}

.hidden {
  display: none !important;
}
