@import "./mixin.less";

#root {
  .flex(row, flex-start, flex-start);
  width: 100%;
  height: 100%;
  background-color: #f6f5f4;
}

#page-container {
  .flex(row, flex-start, flex-start);
  width: 848px;
  max-width: 100%;
  height: 100%;
  margin: auto;
  transform: translateX(-16px);

  > .content-wrapper {
    .flex(column, flex-start, flex-start);
    position: relative;
    width: 600px;
    height: 100%;
  }
}

@media only screen and (max-width: 875px) {
  #page-container {
    .flex(column, flex-start, flex-start);
    width: 100%;
    height: 100%;
    padding: 0;
    transform: translateX(0);

    > .content-wrapper {
      width: 100%;
      height: 100%;
      margin-left: 0;
      padding-top: 0;
    }
  }
}
