@import "./mixin.less";

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: @bg-whitegray;
}

#page-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 840px;
  max-width: 100%;
  height: 100%;
  padding-top: 20px;

  > .sidebar-wrapper {
    width: 220px;
  }

  > .content-wrapper {
    width: 600px;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  #page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 840px;
    max-width: 100%;
    height: 100%;
    padding-top: 10px;

    > .sidebar-wrapper {
      z-index: 10;
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 40px;
      overflow-y: unset;

      .status-text-container,
      .tags-container {
        display: none;
      }
    }

    > .content-wrapper {
      width: 100%;
      height: 100%;
      padding: 0 10px;
      padding-top: 40px;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      > .memolist-wrapper {
        margin-bottom: 0px;
      }
    }
  }

  .dialog-wrapper {
    width: 100%;
    padding: 0 10px;

    > .dialog-container {
      max-width: 100%;
    }
  }
}
