@import "./mixin.less";

.memo-content-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.7;
  word-wrap: break-word;
  word-break: break-word;

  > div {
    width: 100%;
  }

  span.tag-span {
    display: inline-block;
    font-size: 14px;
    padding: 0 4px;
    margin: 0 2px;
    color: @text-blue;
    background-color: #eef3fe;
    border-radius: 4px;
  }

  .memo-link-text {
    display: inline-block;
    color: #5783f7;
    border-bottom: none;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  div.dot-li,
  div.num-li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2px;

    .counter-text {
      flex-shrink: 0;
      display: inline-block;
      text-align: left;
      width: 16px;
    }
  }

  div.dot-li {
    .counter-text {
      padding-left: 2px;
    }
  }

  pre {
    width: 100%;
    margin: 4px 0;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f7f6f3;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;

    * {
      font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }
  }
}

body.dark {
  .memo-content-text {
    color: @dark-text-white;

    span.tag-span {
      background-color: @dark-bg-light-black;
    }

    pre {
      color: lightgray;

      background-color: @dark-bg-light-black;
      * {
        color: lightgray;
      }
    }
  }
}
