@import "./mixin.less";

.memo-editor-wrapper {
  .flex(column, flex-start, flex-start);
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 16px;
  border: 2px solid #eee;
  border-radius: 8px;

  &:hover {
    border: 2px solid lightgray;
  }

  &.edit-ing {
    border-color: @text-blue;
  }

  > .tip-text {
    font-size: 12px;
    line-height: 20px;
    color: #aaa;
  }

  > .memo-editor {
    .flex(column, flex-start, flex-start);
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
  }
}

body.dark {
  .memo-editor-wrapper {
    background-color: @dark-bg-black;
    border-color: @text-gray;
  }
}
