@import "./mixin.less";

.memo-editor-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 16px;
  border: 2px solid #eee;
  border-radius: 8px;

  &.edit-ing {
    border-color: @text-blue;
  }

  > .tip-text {
    font-size: 12px;
    line-height: 20px;
    color: #aaa;
  }

  > .memo-editor {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
  }
}

body.dark {
  .memo-editor-wrapper {
    background-color: @dark-bg-black;
    border-color: gray;
  }
}
