.memo-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  background-color: white;
  margin-bottom: 16px;
  border: 1px solid white;
  border-radius: 8px;

  &:hover {
    border-color: lightgray;

    > .memo-top-wrapper {
      > .btns-container {
        display: flex;
      }
    }
  }

  > .memo-top-wrapper {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    > .time-text {
      font-size: 12px;
      color: gray;
    }

    > .btns-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      display: none;

      > .text-btn {
        font-size: 12px;
        cursor: pointer;
        margin-left: 10px;
        padding: 3px 6px;
        border-radius: 4px;

        &:hover {
          background-color: lightgray;
        }
      }
    }
  }

  > .memo-content-text {
    width: 100%;
    font-size: 14px;
    line-height: 1.7;
    word-wrap: break-word;
    word-break: break-all;
  }

  > .uponmemo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 12px;

    > .icon-text {
      margin-right: 4px;
    }

    > .uponmemo-content-text {
      width: 100%;
      max-height: 36px;
      color: gray;
      font-size: 12px;
      line-height: 1.5;
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  > .tags-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 10px;

    > .tag-item-container {
      padding: 1px 4px;
      border: 1px solid lightgray;
      margin-right: 4px;
      border-radius: 4px;
    }
  }
}
