@import "./mixin.less";

.memolist-wrapper {
  .flex(column, flex-start, flex-start);
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  margin-top: 4px;
  padding-top: 4px;
  .pretty-scroll-bar(0px, 0px);

  > .filter-query-container {
    .flex(row, flex-start, flex-start);
    width: 100%;
    flex-wrap: wrap;

    > .tip-text {
      margin-left: 4px;
      font-size: 13px;
      padding: 2px 4px;
      margin-bottom: 8px;
      color: gray;
      line-height: 1.6;
    }

    > .filter-item-container {
      font-size: 13px;
      padding: 2px 6px;
      margin-bottom: 8px;
      margin-right: 6px;
      line-height: 1.6;
      cursor: pointer;
      background-color: #eaeaea;
      border-radius: 4px;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      > .icon-text {
        letter-spacing: 2px;
      }

      &:hover {
        text-decoration: line-through;
      }
    }
  }

  > .status-text-container {
    .flex(column, flex-start, center);
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;

    &.completed {
      margin-bottom: 64px;
    }

    &.invisible {
      visibility: hidden;
    }

    > .status-text {
      font-size: 13px;
      color: gray;
    }
  }

  &.completed {
    padding-bottom: 64px;
  }
}

body.dark {
  .memolist-wrapper {
    > .filter-query-container {
      > .tip-text {
        color: lightgray;
      }

      > .filter-item-container {
        background-color: @dark-bg-black;
      }
    }

    > .status-text-container {
      > .status-text {
        color: lightgray;
      }
    }
  }
}
