@import "./mixin.less";

.memo-content-text {
  .flex(column, flex-start, flex-start);
  width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;

  > p,
  > div {
    .flex(row, flex-start, flex-start);
    width: 100%;
    height: auto;
    margin: 4px 0;
    font-size: 15px;
    line-height: 24px;
    min-height: 24px;
    white-space: pre-wrap;
  }

  .tag-span {
    display: inline-block;
    width: auto;
    padding: 0 6px;
    line-height: 24px;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    color: @text-blue;
    background-color: @bg-light-blue;
    cursor: pointer;
    vertical-align: bottom;

    &:hover {
      background-color: @text-blue;
      color: white;
    }
  }

  .memo-link-text {
    display: inline-block;
    color: @text-blue;
    border-bottom: none;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .counter-block,
  .todo-block {
    flex-shrink: 0;
    text-align: center;
    width: 2rem;
  }

  pre {
    width: 100%;
    margin: 4px 0;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.6;
    background-color: #f7f6f3;
    overflow-x: auto;
    white-space: pre-wrap;
  }
}

body.dark {
  .memo-content-text {
    color: @dark-text-white;

    span.tag-span {
      background-color: @dark-bg-light-black;
    }

    pre {
      color: lightgray;

      background-color: @dark-bg-light-black;
      * {
        color: lightgray;
      }
    }
  }
}

@media only screen and (max-width: 875px) {
  .memo-content-text {
    > p,
    > div {
      font-size: 16px;
      line-height: 26px;
      min-height: 26px;
      white-space: pre-wrap;
    }

    .tag-span {
      line-height: 26px;
      font-size: 14px;
    }

    pre {
      font-size: 15px;
    }
  }
}
