@import "./mixin.less";

.memo-content-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;

  > p,
  > div {
    display: inline-block;
    width: 100%;
    margin: 4px 0;
    font-size: 15px;
    line-height: 24px;
    min-height: 24px;
    white-space: pre-wrap;
  }

  .tag-span {
    display: inline-block;
    width: auto;
    padding: 0 6px;
    line-height: 24px;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    color: @text-blue;
    background-color: @bg-light-blue;
    cursor: pointer;
    vertical-align: bottom;

    &:hover {
      background-color: @text-blue;
      color: white;
    }
  }

  .memo-link-text {
    display: inline-block;
    color: @text-blue;
    border-bottom: none;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .counter-text {
    flex-shrink: 0;
    display: inline-block;
    text-align: center;
    width: 24px;
  }

  pre {
    width: 100%;
    margin: 4px 0;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.6;
    background-color: #f7f6f3;
    overflow-x: auto;
    white-space: pre-wrap;
  }
}

body.dark {
  .memo-content-text {
    color: @dark-text-white;

    span.tag-span {
      background-color: @dark-bg-light-black;
    }

    pre {
      color: lightgray;

      background-color: @dark-bg-light-black;
      * {
        color: lightgray;
      }
    }
  }
}
