@import "./mixin.less";

.menu-btns-popup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 28px;
  margin-left: 91px;
  background-color: white;
  width: 180px;
  padding: 4px;
  border-radius: 8px;
  z-index: 2;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  margin-top: 28px;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 81px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
  }

  > .action-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    background-color: unset;
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 4px;

    > .icon {
      display: block;
      width: 28px;
      text-align: center;
      margin-right: 4px;
    }

    &:hover {
      background-color: #efefee;
    }
  }
}

body.dark {
  .menu-btns-popup {
    background-color: @dark-bg-black;

    &::before {
      border-bottom: 8px solid @dark-bg-black;
    }

    > .action-btn {
      &:hover {
        background-color: @dark-bg-light-black;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .menu-btns-popup {
    top: 24px;
    margin-left: 140px;

    > .action-btn {
      font-size: 15px;
    }
  }
}
