@import "./mixin.less";

.my-account-dialog {
  > .dialog-container {
    width: 480px;
    border-radius: 8px;

    > .dialog-content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      hr {
        margin: 6px 0;
        width: 100%;
        height: 1px;
        background-color: lightgray;
        border: none;
      }

      > .section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }

        > .title-text {
          font-weight: bold;
          margin-bottom: 8px;
        }

        > .tip-text {
          font-style: italic;
          color: gray;
          margin-bottom: 8px;
        }

        > .form-label {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          font-size: 14px;
          line-height: 1.6;

          > .normal-text {
            padding: 4px 0;
            flex-shrink: 0;
          }

          &.input-form-label {
            > input {
              padding: 4px 6px;
              margin-right: 4px;
              border: none;
              border-bottom: 1px solid gray;
              font-size: 14px;
              outline: none;

              &:disabled {
                flex-grow: 1;
                font-weight: normal;
                background-color: transparent;
                border-color: transparent;
              }
            }
          }

          &.username-label {
            > .username-text {
              padding: 0 4px;
            }

            > input {
              width: 128px;
              flex-grow: 0 !important;
            }

            > .btns-container {
              margin-left: 8px;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              flex-shrink: 0;

              > .text-btn {
                font-size: 12px;
                cursor: pointer;
                padding: 2px 8px;
                border-radius: 4px;
                margin-right: 8px;
                user-select: none;
                background-color: lightgray;

                &:hover {
                  opacity: 0.8;
                }

                &.cancel-btn {
                  background-color: unset;
                }

                &.confirm-btn {
                  background-color: @text-green;
                  color: white;
                }
              }
            }
          }

          &.password-label {
            align-items: center;

            > .text-btn {
              color: @text-blue;
              padding: 0 4px;
              cursor: pointer;

              &:hover {
                opacity: 0.9;
              }
            }
          }

          &:hover {
            opacity: 0.9;
          }

          &:last-of-type {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

.change-password-dialog {
  > .dialog-container {
    width: 300px;
    border-radius: 8px;

    > .dialog-content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &:last-child {
        margin-bottom: 0;
      }

      > .form-label {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        line-height: 1.6;

        > .normal-text {
          position: absolute;
          left: 8px;
          padding-left: 4px;
          flex-shrink: 0;
          font-size: 13px;
          line-height: 38px;
          color: gray;
          transition: all 0.2s ease;

          &.not-null {
            top: 2px;
            left: 8px;
            background-color: white;
            font-size: 12px;
            line-height: 18px;
            padding: 0 4px;
            border-radius: 12px;
          }
        }

        &.input-form-label {
          padding: 12px 0;

          > input {
            width: 100%;
            padding: 6px 8px;
            font-size: 13px;
            line-height: 24px;
            outline: none;
            border-radius: 4px;
            border: 1px solid lightgray;
          }
        }

        &:hover {
          opacity: 0.9;
        }

        &:last-of-type {
          margin-bottom: 8px;
        }
      }

      > .btns-container {
        margin-top: 8px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        > .text-btn {
          font-size: 14px;
          cursor: pointer;
          padding: 6px 12px;
          border-radius: 4px;
          margin-right: 8px;
          user-select: none;
          background-color: lightgray;

          &:hover {
            opacity: 0.8;
          }

          &.cancel-btn {
            background-color: unset;
          }

          &.confirm-btn {
            background-color: @text-green;
            color: white;
          }
        }
      }
    }
  }
}

body.dark {
  .my-account-dialog {
    > .dialog-container {
      > .dialog-content-container {
        hr {
          background-color: gray;
        }

        > .section-container {
          > .form-label {
            &.username-label {
              > .btns-container {
                > .text-btn {
                  &.edit-username-btn {
                    background-color: gray;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .change-password-dialog {
    > .dialog-container {
      > .dialog-content-container {
        > .form-label {
          > .normal-text {
            color: lightgray;

            &.not-null {
              background-color: @dark-bg-black;
            }
          }
        }
      }
    }
  }
}
