@import "./mixin.less";

.search-bar-wrapper {
  > .dialog-container {
    width: 384px;
    padding: 0;
    border-radius: 8px;

    > .search-bar-inputer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 24px;
      border-bottom: 1px solid lightgray;

      > .icon-img {
        margin-right: 12px;
        width: 16px;
        height: auto;
      }

      > .text-input {
        width: 100%;
        font-size: 15px;
        border: none;
        outline: none;

        &:focus {
          &::placeholder {
            color: lightgray;
          }
        }
      }
    }

    > .special-type-selector {
      width: 100%;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      > .title-text {
        color: gray;
        font-size: 12px;
        margin-bottom: 8px;
      }

      > .types-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 13px;

        > .section-text {
          color: gray;
          margin-right: 4px;
        }

        > .type-item {
          cursor: pointer;
          padding: 4px 8px;
          border-radius: 6px;

          &:hover {
            color: black;
          }

          &.selected {
            background-color: @text-green;
            color: white;
          }
        }
      }
    }
  }
}

body.dark {
  .search-bar-wrapper {
    > .dialog-container {
      background-color: @dark-bg-black;

      > .search-bar-inputer {
        border-bottom: 1px solid gray;
      }
    }
  }
}

@media only screen and (max-width: 875px) {
  .search-bar-wrapper {
    width: 100%;
    padding: 24px 16px;
  }
}
