@import "./mixin.less";

.search-bar-wrapper {
  background-color: rgba(15, 15, 15, 0.4);
  padding: 64px 0;

  > .dialog-container {
    width: 384px;
    background-color: white;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);

    > .search-bar-inputer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 16px;
      border-bottom: 1px solid lightgray;

      > .icon-img {
        margin-right: 8px;
        width: 16px;
        height: auto;
      }

      > .text-input {
        width: 100%;
        font-size: 15px;
        border: none;
        outline: none;

        &:focus {
          &::placeholder {
            color: lightgray;
          }
        }
      }
    }

    > .special-type-selector {
      width: 100%;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      > .title-text {
        color: gray;
        font-size: 12px;
        margin-bottom: 8px;
      }

      > .types-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        > .memo-type-item {
          margin-right: 8px;
          font-size: 13px;
          cursor: pointer;
          padding: 4px 8px;
          border-radius: 6px;

          &:hover {
            font-weight: bold;
          }

          &.selected {
            background-color: @text-green;
            color: white;

            &:hover {
              font-weight: unset;
            }
          }
        }
      }
    }
  }
}

body.dark {
  .search-bar-wrapper {
    > .dialog-container {
      background-color: @dark-bg-black;

      > .search-bar-inputer {
        border-bottom: 1px solid gray;
      }
    }
  }
}

@media only screen and (max-width: 875px) {
  .search-bar-wrapper {
    width: 100%;
    padding: 0 16px;

    > .dialog-container {
      max-width: 100%;
      margin-top: 24px !important;
    }
  }
}
