@import "./mixin.less";

.sidebar-wrapper {
  width: 248px;
  height: 100%;
  padding-top: 16px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: hidden;
  flex-shrink: 0;
  .pretty-scroll-bar(0px);
}

body.dark {
  .sidebar-wrapper {
    > * {
      background-color: @dark-bg-light-black;
    }
  }
}

@media only screen and (max-width: 875px) {
  #page-container.mobile-show-sidebar {
    > .sidebar-wrapper {
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.6);

      > * {
        margin-left: 0;
      }
    }
  }

  .sidebar-wrapper {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-y: hidden;
    display: flex;
    transition: all 0.4s ease;
    .pretty-scroll-bar(0px);

    > * {
      margin-left: calc(-100%);
      transition: all 0.4s ease;
      width: 320px;
      max-width: 95%;
      background-color: @bg-whitegray;
      flex-shrink: 0;
      padding-left: 32px;
      padding-right: 16px;
    }

    > .user-banner-container {
      padding-top: 8px;

      > .userinfo-header-container {
        > .username-text {
          font-size: 22px;
        }
      }

      > .status-text-container {
        > .status-text {
          > .amount-text {
            font-size: 32px;
          }
          > .type-text {
            font-size: 14px;
          }
        }
      }
    }
  }
}
