.signin-dialog {
  > .dialog-content-container {
    > input {
      width: 200px;
      padding: 5px 10px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > .dialog-footer-container {
    > .text-btn {
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
