@import "./mixin.less";

.signin-dialog {
  > .dialog-container {
    width: 360px;
    border-radius: 8px;
    padding: 16px 20px;

    > .dialog-content-container {
      > input {
        width: 100%;
        padding: 8px 10px;
        margin-bottom: 16px;
        border-radius: 4px;
        border: 1px solid lightgray;
        outline: none;

        &:focus {
          border-color: gray;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    > .dialog-footer-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 12px;
      margin-bottom: 4px;

      > .btns-container {
        > .text-btn {
          padding: 4px 12px;
          font-size: 14px;
          border-radius: 4px;
          cursor: pointer;
          text-align: center;

          &:hover {
            opacity: 0.8;
          }

          &.disabled {
            color: lightgray;
            cursor: not-allowed;
          }

          &.signin-btn {
            background-color: @text-green;
            color: white;
          }
        }

        > .split-text {
          color: lightgray;
          margin: 0 6px;
        }
      }
    }

    > .tip-text {
      border-top: 1px solid lightgray;
      color: gray;
      margin-top: 6px;
      padding-top: 6px;
      width: 100%;
      font-size: 12px;
      line-height: 1.6;
      word-wrap: break-word;

      > .text-btn {
        cursor: pointer;
        text-align: center;
        color: @text-green;
        font-weight: bold;
        padding: 2px 6px;
        border-radius: 4px;
        background-color: #eee;

        > .icon-text {
          margin-right: 2px;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
