@import "./mixin.less";

.tags-wrapper {
  width: 100%;
  padding: 0 8px;
  height: calc(100% - 128px - 110px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;

  > .title-text {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 4px;
    padding: 0 16px;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    color: #ded1b7;
  }

  > .tags-container {
    width: 100%;
    height: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-y: auto;
    padding-bottom: 16px;
    .pretty-scroll-bar(0px);

    > .tag-item-container {
      width: 100%;
      padding: 8px 16px;
      line-height: 24px;
      border-radius: 8px;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: #efefef;
      }

      &.active {
        background-color: @text-green !important;

        > .tag-text {
          color: white;
        }
      }

      &:first-of-type {
        margin-top: 4px;
      }

      > .tag-text {
        color: @text-gray;
      }
    }

    > .tag-tip-container {
      width: 100%;
      margin-top: 8px;
      padding-left: 16px;
      font-size: 12px;
      line-height: 1.6;
      color: gray;

      > span {
        color: @text-blue;
        padding: 0 2px;
      }
    }
  }
}

body.dark {
  .tags-container {
    > .tag-item-container {
      &:hover {
        background-color: @dark-bg-black;
      }

      > .tag-text {
        color: @dark-text-white;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .tags-container {
    height: calc(100% - 154px - 158px);

    > .title-text {
      font-size: 13px;
    }

    > .tag-item-container {
      font-size: 15px;

      &:last-of-type {
        margin-bottom: 96px;
      }
    }
  }
}
