@import "./mixin.less";

.tags-wrapper {
  width: 100%;
  padding: 0 8px;
  height: calc(100% - 128px - 110px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;

  > .title-text {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 4px;
    padding: 0 16px;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    color: @text-lightgray;
  }

  > .tags-container {
    width: 100%;
    height: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-y: auto;
    padding-bottom: 16px;
    .pretty-scroll-bar(0px);

    .subtags-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: calc(100% - 18px);
      min-width: 80px;
      height: auto;
      margin-top: 4px;
      margin-left: 18px;
      border-left: 2px solid #eaeaea;
      padding-left: 6px;

      > .tag-item-container {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    .tag-item-container {
      width: 100%;
      height: 40px;
      padding: 6px 16px;
      margin-top: 4px;
      padding-right: 8px;
      border-radius: 8px;
      font-size: 14px;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      user-select: none;

      &:hover {
        background-color: #efefef;
      }

      &.active {
        background-color: @text-green !important;

        > .tag-text {
          color: white;

          > .icon-text {
            color: white;
          }
        }
      }

      &:first-of-type {
        margin-top: 4px;
      }

      > .tag-text {
        max-width: calc(100% - 24px);
        color: @text-gray;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;

        > .icon-text {
          font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
          color: gray;
          font-size: 13px;
          margin-right: 4px;
        }
      }

      > .btns-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        > .action-btn {
          width: 24px;
          height: 24px;
          margin-top: 4px;
          flex-shrink: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          transition: all 0.1s linear;
          transform: rotate(0);

          > .icon-img {
            width: 20px;
            height: 20px;
          }

          &.shown {
            > .icon-img {
              transform: rotate(90deg);
            }
          }

          &.rename-btn {
            display: none;

            > .icon-img {
              width: 14px;
              height: 14px;
            }
          }
        }
      }

      &:hover {
        > .btns-container {
          > .rename-btn {
            display: flex;
          }
        }
      }
    }

    > .tag-tip-container {
      width: 100%;
      margin-top: 8px;
      padding-left: 16px;
      font-size: 12px;
      line-height: 1.6;
      color: gray;

      > .code-text {
        color: @text-blue;
        padding: 4px;
        margin: 0 2px;
        white-space: pre-line;
        background-color: @bg-light-blue;
        border-radius: 4px;
      }
    }
  }
}

.rename-tag-dialog {
  > .dialog-container {
    width: 320px;

    > .dialog-content-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;

      > .tag-text {
        margin-bottom: 8px;
        font-size: 14px;
      }

      > .text-input {
        width: 100%;
        padding: 8px 12px;
        border: 1px solid lightgray;
        border-radius: 4px;
        font-size: 14px;
        outline: none;
        margin-bottom: 12px;
      }

      > .btns-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        > .btn-text {
          font-size: 14px;
          margin-left: 12px;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }

          &.cancel-btn {
            color: @text-gray;
          }

          &.confirm-btn {
            background-color: @text-green;
            color: white;
            padding: 4px 12px;
            border-radius: 6px;
          }
        }
      }
    }
  }
}

body.dark {
  .tags-container {
    .subtags-container {
      border-color: gray;
      border-width: 1px;
    }

    .tag-item-container {
      &:hover {
        background-color: @dark-bg-black;
      }

      > .tag-text {
        color: @dark-text-white;
      }
    }

    > .tag-tip-container {
      > .code-text {
        background-color: @dark-bg-black;
      }
    }
  }
}

@media only screen and (max-width: 875px) {
  .tags-container {
    height: calc(100% - 154px - 158px);

    > .title-text {
      font-size: 13px;
    }

    > .tag-item-container {
      font-size: 15px;

      &:last-of-type {
        margin-bottom: 96px;
      }
    }
  }

  .rename-tag-dialog {
    padding-top: 64px;
  }
}
