@import "./mixin.less";

.toast-list-container {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 1000;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  > * {
    > .toast-container {
      margin-top: 30px;
      padding: 10px 20px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
      font-size: 13px;
    }
  }
}
