@import "./mixin.less";

.toast-list-container {
  position: fixed;
  top: 8px;
  right: 16px;
  z-index: 1000;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  > .toast-wrapper {
    position: relative;
    left: 0;
    min-width: 6em;
    margin-top: 24px;
    padding: 8px 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    font-size: 13px;
    line-height: 24px;
    transition: all 1.2s ease;
    cursor: pointer;

    &.destory {
      left: calc(100% + 32px);
      opacity: 0.2;
    }

    > .toast-container {
      > .content-text {
        max-width: 160px;
        word-wrap: break-word;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      right: -8px;
      border-left: 8px solid white;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
  }
}
