@import "./mixin.less";

@stat-day-L1-bg: #9be9a8;
@stat-day-L2-bg: #40c463;
@stat-day-L3-bg: #30a14e;
@stat-day-L4-bg: #216e39;

.usage-stat-table-wrapper {
  width: 100%;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 110px;
  flex-wrap: wrap;

  &:hover {
    > .day-tip-text-container {
      visibility: visible;
    }
  }

  > .day-tip-text-container {
    width: 16px;
    height: 100%;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;

    > .tip-text {
      font-size: 8px;
      line-height: 16px;
      padding-right: 4px;
      width: 100%;
      text-align: right;
      color: gray;
    }
  }

  > .usage-stat-table {
    width: 188px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    > .stat-container {
      display: block;
      width: 12px;
      height: 12px;
      background-color: #e8e8e8;
      border-radius: 2px;
      margin-bottom: 2px;

      &.null {
        background-color: #efefef;
      }

      &.stat-day-L1-bg {
        background-color: @stat-day-L1-bg;
      }

      &.stat-day-L2-bg {
        background-color: @stat-day-L2-bg;
      }

      &.stat-day-L3-bg {
        background-color: @stat-day-L3-bg;
      }

      &.stat-day-L4-bg {
        background-color: @stat-day-L4-bg;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .usage-stat-table-wrapper {
    height: 156px;
    padding: 8px 0 !important;
    padding-left: 4px !important;

    > .day-tip-text-container {
      visibility: visible;
      width: 32px;
      padding-bottom: 4px;

      > .tip-text {
        padding-right: 4px;
        width: 100%;
        font-size: 12px;
        line-height: unset !important;
        text-align: right;
      }
    }

    > .usage-stat-table {
      width: 248px;

      > .stat-container {
        width: 16px;
        height: 16px;
        margin-bottom: 4px;
      }
    }
  }
}
