@import "./mixin.less";

.user-banner-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 16px;
  margin-bottom: 20px;

  > .userinfo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    > .userinfo-header-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;

      > .username-text {
        font-weight: bold;
        font-size: 18px;
        line-height: 36px;
        color: #5f5f5f;
        margin-right: 8px;
        max-width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > .action-btn {
        font-size: 20px;
        cursor: pointer;
        flex-shrink: 0;
        user-select: none;
        border: none;
        outline: none;
        background-color: unset;
      }

      > .action-btns-dialog {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        top: 36px;
        right: 8px;
        background-color: white;
        width: 180px;
        padding: 8px 0;
        border-radius: 5px;
        z-index: 1;
        box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);

        &::before {
          content: "";
          position: absolute;
          top: -8px;
          right: 10px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid white;
        }

        > .action-btn {
          width: 100%;
          cursor: pointer;
          padding: 8px 16px;
          border: none;
          background-color: unset;
          text-align: left;

          > .icon {
            margin-right: 4px;
          }

          &:hover {
            background-color: lightgray;
          }
        }
      }
    }

    > .status-text-container {
      margin: 16px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      > .status-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        > .amount-text {
          font-weight: bold;
          font-size: 24px;
          line-height: 36px;
          color: gray;
        }

        > .type-text {
          color: gray;
          font-size: 10px;
          line-height: 16px;
        }
      }
    }

    > .tags-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 8px;

      > .title-text {
        width: 100%;
        margin: 10px 0;
        font-size: 13px;
        font-weight: bold;
        color: #ded1b7;
      }

      > .tag-item-container {
        padding: 2px 0;
        margin-top: 5px;
        line-height: 20px;
        cursor: pointer;
        border-bottom: 1px solid transparent;

        &:hover {
          border-color: gray;
        }
      }

      > .tag-tip-container {
        color: gray;
        width: 100%;
        margin-top: 8px;
        font-size: 12px;
        line-height: 1.6;

        > span {
          color: #5783f7;
          padding: 0 2px;
        }
      }
    }
  }
}
